<h1>Search for an existing class</h1>
<input type="text" id="search-field">
<input type="button" value="Find" {{action findCurrent}} />

<input type=>

<h1>Create a new class</h1>
<input type="text" id="create-class">
<input type="button" value="Create Class" {{action createClass}} />

<br><br><a href="/preferences">Preferences</a>

