body {
  padding-top: 60px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#content {
  margin: auto;
  width: 960px;
  max-width: 960px;
}

#hero-unit {
  width: 90%;
  padding: 2.5em;
  display: block;
  background-color: #EEEEEE;
  border-radius: 5px;
  color: #000000;
}

#hero-unit h1 {
  font-size: 60px;
  font-style: bold;
}

#hero-unit p {
  font-size: 18px;
  line-height: 30px;
  margin: 1em 0 0 0;
}

#signin .ember-view {
  padding-left: 2em;
}

#signup .ember-view {
  padding-left: 2em;
}

#welcome-sidebar {
  margin-top: 40px;
  padding-left: 2em;
}

#splash-img {
  position: relative;
  margin-top: 100px;
  width: 1000px;
}

#editor-menu {
}

#editor-canvas {
  position: relative;
}

#page-0 {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}

#editor-canvas-textarea {
  left: 0;
  top: 0;
  position: absolute;
  background-color: transparent;
  z-index: 0;
  tab-size: 4;
}

.firstname {
  width: 95px;
}

.lastname {
  width: 95px;
}
