body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#editor-menu {
}

#editor-canvases {
  position: relative;
}
.canvas-page {
  position: relative;
}

svg {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}

.editor-canvas-textarea {
  left: 0;
  top: 0;
  position: absolute;
  background-color: transparent;
  z-index: 0;
  tab-size: 4;
}