<!DOCTYPE html>
<html>
<head>
  <title>ScribaLive</title>
  <script src="/javascripts/jquery-2.0.3.js"></script>
  <script src="/javascripts/handlebars-1.0.0.js"></script>
  <script src="/javascripts/ember.prod.js"></script>
  <script src="/javascripts/templates.js"></script>
  <script src="/javascripts/scriba.js"></script>
</head>

<body>
  {{{body}}}
</body>
</html>