<!DOCTYPE html>
html(lang="en")
  head
    title= ScribaLive
    <!-- JAVASCRIPTS -->
    script(src="/javascripts/jquery-2.0.3.js")
    script(src="/javascripts/handlebars-1.0.0.js")
    script(src="/javascripts/ember.js")
    script(src="/javascripts/ember-data.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/raphael.js")
    <!-- script(src="/javascripts/bootstrap.min.js") caused some issues -->
    <!-- uncomment for bootstrap js
    script(src="/javascripts/bootstrap.min.js") -->
    <!-- EMBERJS TEMPLATES -->
    script(src="/javascripts/templates.js")
    <!-- EMBERJS APP -->
    script(src="/javascripts/scriba.js")
    script(src="/javascripts/routes.js")
    <!-- EMBERJS MODELS -->
    script(src="/javascripts/models/user_model.js")
    script(src="/javascripts/models/page_model.js")
    script(src="/javascripts/models/path_model.js")
    script(src="/javascripts/models/text_model.js")
    script(src="/javascripts/models/rect_model.js")
    script(src="/javascripts/models/oval_model.js")
    <!-- EMBERJS CONTROLLERS -->
    script(src="/javascripts/controllers/application_controller.js")
    script(src="/javascripts/controllers/users_controller.js")
    script(src="/javascripts/controllers/io_controller.js")
    script(src="/javascripts/controllers/welcome_controller.js")
    script(src="/javascripts/controllers/signin_controller.js")
    script(src="/javascripts/controllers/signup_controller.js")
    script(src="/javascripts/controllers/editor_controller.js")
    script(src="/javascripts/controllers/profile_controller.js")
    script(src="/javascripts/controllers/preferences_controller.js")
    
    <!-- EMBERJS INITIALIZE CONTROLLERS -->
    script(src="/javascripts/init_controllers.js")
    <!-- EMBERJS VIEWS -->
    script(src="/javascripts/views/users_view.js")
    script(src="/javascripts/views/welcome_view.js")
    script(src="/javascripts/views/profile_view.js")
    script(src="/javascripts/views/signin_view.js")
    script(src="/javascripts/views/signup_view.js")
    script(src="/javascripts/views/editor_view.js")
    script(src="/javascripts/views/preferences_view.js")
    <!-- ONLOAD -->
    script(src="/javascripts/onload.js")
    <!-- CSS -->
    link(rel='stylesheet', href="/stylesheets/style.css")
    link(rel='stylesheet', href="/stylesheets/bootstrap.min.css", media="screen")

  body
  
    div(class="navbar navbar-inverse navbar-fixed-top")
      div(class="navbar-inner")
        div(class="container")
          button(type="button",class="btn btn-navbar",data-toggle="collapse",data-target=".nav-collapse")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="brand",href="#") ScribaLive
          div(class="nav-collapse collapse")
            ul(class="nav")
              li(class="active")
                a(href="#") Home
              li
                a(href="#about") About
              li
                a(href="#contact") Contact
    div(class="container")
      block content
