extends ../layout

block content
  //- Indent the script or it will not render
  p Logged in under: #{user.email}
  script(type="text/x-handlebars")
    {{view SL.ProfileView controllerBinding="SL.profileController"}}

  <div hidden id='current_page'>PROFILE</div>    
