extends ../layout

block content
  //- Indent the script or it will not render
  <div hidden id='user_id-id'>#{user.id}</div>
  <div hidden id='user_first_name-id'>#{user.first_name}</div>
  <div hidden id='user_last_name-id'>#{user.last_name}</div>
  <div hidden id='user_email-id'>#{user.email}</div>
  <div hidden id='current_page'>PROFILE</div>
  script(type="text/x-handlebars")
    {{view SL.ProfileView controllerBinding="SL.profileController"}}