<h1>Preferences</h1>

<h4>Naming:</h4>
<form action="/users" method="get">
  <label for="first_name">First Name</label>
  <input type="text" name="first_name" value="">
  <input type="submit" formaction="/users" value="Change First Name"><br>
</form>

<form action="/users" method="get">
  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" value="">
  <input type="submit" formaction="/users" value="Change Last Name"><br>
</form>

<form action="/users" method="get">
  <label for="email">E-Mail</label>
  <input type="text" name="email" value="">
  <input type="submit" formaction="/users" value="Change Email"><br><br>
</form>

<h4>Change you password:</h4>
<form action="/users" method="get">
  <label for="password">Old Password</label>
  <input type="password" name="password"><br>
  <label for="password_confirmation">Confirm</label>
  <input type="password" name="password_confirmation"><br>
  <label for="password">New Password</label>
  <input type="password" name="new_password"><br>
  <label for="password_confirmation">New Password Confirm</label>
  <input type="password" name="new_password_confirmation"><br>
  <input type="submit" formaction="/users" value="Change Password">
</form>

<h4>Schedule:</h4>
