<h1>Search for an existing class</h1>
<input type="text" id="find-class">
<input type="button" value="Find Class" {{action findClass}} />

<h1>Create a new class</h1>
<input type="text" id="create-class">
<input type="button" value="Create Class" {{action createClass}} />

<br><br><a href="/preferences">Preferences</a>

