<h3>Sign in</h3>
{{#if loginFailed}}
  <div class="alert alert-danger">Invalid username or password</div>
{{/if}}
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-4" for="signin_email">E-Mail</label>
    <input class="col-sm-8" id="signin_email" placeholder="me@example.com"
     name="signin_email"
     type="text">
   </div>
  <div class="form-group">
    <label class="col-sm-4" for="signin_password">Password</label>
    <input class="col-sm-8" id="signin_password" name=signin_password 
     type="password">
  </div>
  <button class="btn" {{action "submitSignin"}}>Sign In</button>
</form>
