<h3>Sign in</h3>
{{#if loginFailed}}
  <div class="alert alert-danger">Invalid username or password</div>
{{/if}}
<form action="signin" method="post">
  <label for="signin_email">E-Mail</label>
  <input name="signin_email" type="text">
  <label for="signin_password">Password</label>
  <input name=signin_password type="password">
  <button class="btn" formaction="signin" value="Sign In">Sign In</button>
</form>
