<h3>Sign in</h3>
<form action="/signin" method="post">
  <label for="signin_email">E-Mail</label>
  <input type="text" name="signin_email"><br>
  <label for="signin_password">Password</label>
  <input type="password" name="signin_password"><br>
  <input type="submit" formaction="/signin" value="Submit">
</form>

<button {{action 'fireButton'}}>Fire!</button>
