<h3>Sign in</h3>
{{#if loginFailed}}
  <div class="alert alert-danger">Invalid username or password</div>
{{/if}}
<form>
  <label for="signin_email">E-Mail</label>
  <input id="signin_email" name="signin_email" type="text">
  <label for="signin_password">Password</label>
  <input id="signin_password" name=signin_password type="password">
  <button class="btn" {{action "submitSignin"}}>Sign In</button>
</form>
