<div id="container">
  <div id="content">
    <div id="hero-unit">
      <h1>Welcome to ScribaLive!</h1>
      <p>Scriba-Live lets you share your notes as you take them, and other 
         cool stuff. Copy needed.</p>
    </div>
    <div class="row">
      <div id="signin" class="span4">
        {{ view SL.SigninView controllerBinding="SL.signinController" }}
      </div>
      <div id="signup" class="span4 offset4">
        {{ view SL.SignupView controllerBinding="SL.signupController" }}
      </div>
    </div>
  </div>
</div>
